@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.font-noto-sans-jp {
  font-family: var(--font-noto-sans-jp), sans-serif;
  @apply text-xl;
}

* {
  box-sizing: border-box;
}

html.dark {
  @apply bg-ObsidianMoss text-ParchmentGlow;
}

html.light {
  @apply bg-white text-AshGray;
}

.custom-handle-w {
  @apply border-r border-gray-300 hover:bg-gray-200 transition-colors;
  height: 100%;
  cursor: ew-resize;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

